.container {
    display: flex;
    font-size: 25px;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
}
.sidebar {
    flex: 1;
}
.main-content {
    flex: 3;
}

table th, table td {
    
    padding: 8px;
}

table tr:nth-child(odd) {
    background-color: #ccc;
    
}

table tr:nth-child(even) {
    background-color: #eee;
    
}